<div class="container">
  <h2>GPIO Control</h2>
  <p ng-repeat="gpio in gpios">
  	<label>GPIO {{gpio.number}}</label>
    <button
    	type="button"
    	class="customBtn btn btn-sm {{gpio.direction == 'in' ? 'btn-primary' : 'btn-warning'}}"
    	ng-click="switchDir(gpio)">{{gpio.direction == 'in' ? 'In' : 'Out'}}
    </button>
    <button
    	type="button"
    	class="customBtn btn btn-sm {{gpio.value == 1 ? 'btn-success' : 'btn-danger'}}"
    	ng-click="switchPow(gpio)">{{gpio.value == 1 ? 'On' : 'Off'}}
    </button>
  </p>

</div>
